.wct-table-view{
  height: 100%;
  display: flex;
  flex-direction: column;

  &.wct-table-view-nofit{
    height: auto;
    :global{
      .afc-table{
        height: auto;
      }
    }
  }
  .btn-new-line{
    .wct-filter-btn-box{
      width: 100%;
    }
  }
}
